{% extends 'main_app/index.html' %}
{% load static %}

{% block title %} Add room {% endblock %}

{% block content %}
    <!-- hero sectoin -->
    <section class="home" id="home">
        <div class="head_container">
        <div class="image">
            <img src="{% static 'images/black-bg.jpg' %}" style="height: 24vh; object-fit: cover;" class="slide">
        </div>
        </div>
    </section>
    <script>
        function img(anything) {
        document.querySelector('.slide').src = anything;
        }

        function change(change) {
        const line = document.querySelector('.image');
        line.style.background = change;
        }
    </script>

    <!-- manager bar -->
    <div class="container-manager">
        <div class="mange-btn top-anime">
            <!-- back to maneger page -->
            <div class="order-btn">
                <a href="{% url 'service_app:manager_services' %}" >Maneger page</a>
            </div>
            <!-- To add new service -->
            <div class="order-btn">
                <a href="{% url 'service_app:add_service' %}" >Add Services</a>
            </div>
            <!-- To add new room -->
            <div class="order-btn">
                <a href="{% url 'employee_app:add_room' %}" >Add Rooms</a>
            </div>
            <!-- To add new guest -->
            <div class="order-btn">
                <a href="{% url 'employee_app:add_guest' %}" >Add Guest</a>
            </div>
        </div>
    </div>

    <!-- add form -->
    <div class="container">
        <div class="sign-form" style="margin-top: 125px;">
            <form action="{% url 'employee_app:add_room' %}" method="POST" class="bottom-anime" style="margin-top:5px;padding:10px;display:block; justify-content:center; gap: 6px;">
                {% csrf_token %}
                <h1 class="left-ainme">Add Room</h1>

                <div style="margin-top:20px;">
                    <label for="exampleFormControlInput1" class="form-label">Room Number</label>
                    <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="fill in room number" name="room_number">
                </div>

                <div style="margin-top:20px; display: flex; gap: 15px;">
                    <label for="hotel">Hotel:</label>
                <select name="hotel" required>
                {% for hotl in hotel %}
                  <option value="{{ hotl.id }}">{{ hotl.name }}</option>
                {% endfor %}
                </select>
                </div>
        
                <div class="btn-form">
                    <button type="submit" class="btn1">Add Room</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}