{% extends 'main_app/index.html' %}
{% load static %}

{% block title %} Add Guest page {% endblock %}

{% block content %}
<form action="{% url 'employee_app:add_guest' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3 mt-3">
            <label for="exampleFormControlInput1" class="form-label">Guest Name</label>
            <input type="text" name="guest_name" class="form-control" id="exampleFormControlInput1" placeholder="fill in course title" >
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Guest Phone number</label>
            <input type="number" name="guest_phone_number" class="form-control" id="exampleFormControlInput1" placeholder="fill in course hours" >
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">room number</label>
            <input type="number" name="guest_room_number" class="form-control" id="exampleFormControlInput1" placeholder="fill in course hours" >
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">check in date</label>
            <input type="date" name="check_in_date"  />
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">check out date</label>
            <input type="date" name="check_out_date"  />
        </div>
        <div class="mb-3">
            <input type="submit" value="Add Guest" class="btn btn-light shadow" />
        </div>
        </form>
{% endblock %}