{% extends "main_app/index.html" %}
{% load static %}

{% block title %} Active Order Page {% endblock%}

{% block content %} 
    <!-- hero sectoin -->
    <section class="home" id="home">
        <div class="head_container">
        <div class="image">
            <img src="{% static 'images/black-bg.jpg' %}" style="height: 24vh; object-fit: cover;" class="slide">
        </div>
        </div>
    </section>
    <script>
        function img(anything) {
        document.querySelector('.slide').src = anything;
        }

        function change(change) {
        const line = document.querySelector('.image');
        line.style.background = change;
        }
    </script>
    <!-- End of hero sectoin -->

    <!-- order section -->
    <div class="container">
        <!-- manager bar -->
        <div class="container-manager">
            <div class="mange-btn top-anime">
                                <div class="container-manager">
                    <div class="mange-btn top-anime">
                        <!-- back to maneger page -->
                    <div class="order-btn">
                        <a href="{% url 'service_app:manager_services' %}" >Maneger page</a>
                    </div>
                        <div class="order-btn">
                            <a href="#" >Menu</a>
                        </div>
                        <div class="order-btn">
                            <a href="#" >Active Order</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- order card -->
    <section class="container">

        <div class="heading_top flex1 marg-t" style="margin-top: 400px;">
            <div class="heading top-anime">
            <h5>RAISING COMFORT TO THE HIGHEST LEVEL</h5>
            <h2>Guest orders</h2>
            </div>
        </div>
        <div class="history-detail bottom-anime">
            <table class="t-history">


                <tr>

                    <th> Service provider </th>
                    <th>Order type </th>
                    <th>Room Number </th>
                    <th>Order quantity</th>
                    <th>is delivered</th>
                    <th>Price </th>
                </tr>
                <!-- contant of table -->
                {% for order in user_requests %}
                    <tr>
                        <td>{{order.sub_service.main_service}}</td>
                        <td>{{order.sub_service.name_service}}</td>
                        <td>{{order.room.room_number}}</td>
                        <td>{{order.quantity}}</td>
                         <td>{{order.is_delivered}}</td>
                        <td><p class="total-price" style="margin-top: 1px;">Total Price: <span id="total_price">{{order.sub_service.price}}</span> $</p></td>
                    </tr>
                {% endfor %}

                <!-- all total amout -->
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>total</td>
                    <td></td>
                </tr>
            </table>
        </div>
    </section>

            <!--------------- End of First Order ---------------->
        </div>
    </div>
{% endblock %}