{% extends 'main_app/index.html' %}
{% load static %}

{% block title %}  {% endblock %}

{% block content %}
<form action="{% url 'service_app:add_service' %}" method="POST" class="w-50 align-items-center justify-content-center" enctype="multipart/form-data">
    {% csrf_token %}
    <h1 class="h3 mb-3 fw-normal">Add</h1>

    <label for="exampleFormControlInput1" class="form-label">service name:</label>
    <input name="name_service" type="text" class="">

    <div class="input-group mb-3">
        <span class="input-group-text">service description:</span>
        <textarea class="form-control" name="description_service" aria-label="With textarea"></textarea>
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Open time:</label>
        <input type="time" name="time_on"/>
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Close time:</label>
        <input type="time" name="time_off"/>
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Service image:</label>
        <input type="file" name="image"/>
    </div>

    <button class="btn btn-primary w-100 py-2" type="submit" fdprocessedid="1isj6h">Add appointment</button>
</form>
{% endblock %}