{% extends "main_app/index.html" %}
{% load static %}

{% block title %} Edit Items Page {% endblock%}

{% block content %} 
    <!-- hero sectoin -->
    <section class="home" id="home">
        <div class="head_container">
        <div class="image">
            <img src="{% static 'images/black-bg.jpg' %}" style="height: 24vh; object-fit: cover;" class="slide">
        </div>
        </div>
    </section>
    <script>
        function img(anything) {
        document.querySelector('.slide').src = anything;
        }

        function change(change) {
        const line = document.querySelector('.image');
        line.style.background = change;
        }
    </script>
    <!-- End of hero sectoin -->

    <!-- edit section -->
    <div class="container">
        <!-- manager bar -->
        <div class="container-manager">
            <div class="mange-btn top-anime">
                <!-- back to maneger page -->
            <div class="order-btn">
                <a href="{% url 'service_app:manager_services' %}" >Maneger page</a>
            </div>
                <div class="order-btn">
                    <a href="#" >Menu</a>
                </div>
                <div class="order-btn">
                    <a href="#" >Order Request</a>
                </div>
                <div class="order-btn">
                    <a href="#" >Active Order</a>
                </div>
            </div>
        </div> 

        {% if perms.service_app.change_subservice %}
            <!-- edit form -->
            <div class="sign-form" style="margin-top: 80px;" >
                <form action="{% url 'service_app:edit_items' main_services.id %} " method="POST" enctype="multipart/form-data" class="bottom-anime">
                    {% csrf_token %}
                    <h1 class="left-ainme">Add service</h1>
                    <div style="margin-top:20px;">
                        <label for="exampleFormControlInput1" class="form-label">Item name</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="fill in course title" name="name_service">
                    </div>

                    <div style="margin-top:20px;">
                        <label for="exampleFormControlInput1" class="form-label">Item catogory</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="fill in course title" name="catogory">
                    </div>

                    <div style="margin-top:20px;">
                        <label for="exampleFormControlInput1" class="form-label">Item price</label>
                        <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="fill in price" name="price">
                    </div>
                    
                    <div style="margin-top:20px;">
                            <label for="exampleFormControlInput1" class="form-label">Upload image</label>
                            <input type="file" name="image" class="form-control" />
                    </div>
                
                    <div class="btn-form">
                        <button type="submit" class="btn1">Add Item</button>
                    </div>
                </form>
            </div>
        {% endif %}

        <!-- display menu -->
        <div class="menu-continer" style="margin-top: 30px;">
            <!-- For Loop Start Here -->
            {% for item in delete_items%}
            <div class="service-menu">
                <img src="{{item.image.url}}" class="left-ainme" alt="{{item.name_service}}">
                <div class="menu-detile left-ainme">
                    <h4>{{item.name_service}}</h4>
                    <p>{{item.catogory}}</p>
                    <a href="{% url 'service_app:delete_items' item.id%}" class="order-btn">Delete</a>
                </div>
                <div class="menu-price rigt-anime">
                    <p>price: {{item.price}} $</p>
                </div>
            </div>
            {%endfor%}
            <!-- For Loop Ends Here -->
        </div>
    </div>
{% endblock %}