{% extends 'main_app/index.html' %}
{% load static %}

{% block title %} Services page {% endblock %}

{% block content %}
    <!-- hero sectoin -->
    <section class="home" id="home">
        <div class="head_container">
        <div class="image">
            <img src="{% static 'images/black-bg.jpg' %}" style="height: 24vh; object-fit: cover;" class="slide">
        </div>
        </div>
    </section>
    <script>
        function img(anything) {
        document.querySelector('.slide').src = anything;
        }

        function change(change) {
        const line = document.querySelector('.image');
        line.style.background = change;
        }
    </script>
    <!-- End of hero sectoin -->

    <!-- manager bar -->
    <div class="container-manager">
        <div class="mange-btn top-anime">
            <!-- back to maneger page -->
            <div class="order-btn">
                <a href="{% url 'service_app:manager_services' %}" >Maneger page</a>
            </div>
            <!-- To add new service -->
            <div class="order-btn">
                <a href="{% url 'service_app:add_service' %}" >Add Services</a>
            </div>
            <!-- To add new room -->
            <div class="order-btn">
                <a href="{% url 'employee_app:add_room' %}" >Add Rooms</a>
            </div>
            <!-- To add new guest -->
            <div class="order-btn">
                <a href="{% url 'employee_app:add_guest' %}" >Add Guest</a>
            </div>
        </div>
    </div>

    <!-- Display the services -->
    <section class="room top" id="services" style="margin-top: 7%;">
        <div class="container">
            <div class="content grid">
                <!-- start box -->
                {% for service in main_services %}
                <div class="box bottom-anime">
                    <div class="img">
                        <img src="{{ service.image.url }}" alt="{{ service.name_service }}">
                    </div>
                    <div class="text text-row">
                        <div>
                            <h3>{{service.name_service}}</h3>
                            {% comment %} <p>{{service.description_service}}</p> {% endcomment %}
                        </div>
                        <div class="order-btn">
                            <a href="{% url 'service_app:menu' service.id %}" class="btn btn-primary">Detail</a>
                        </div>
                        <div class="order-btn">
                            <a href="{% url 'service_app:edit_main_service' service.id %}" class="btn btn-primary">Update</a>
                        </div>
                        <div class="order-btn">
                            <a href="{% url 'service_app:delete_service' service.id %}" class="btn btn-primary">Delete</a>
                        </div>
                    </div>
                </div>
                {%endfor%}
                <!-- end box -->
            </div>
        </div>
    </section>
    <!-- End of Display the services -->
{% endblock %}