{% extends "main_app/index.html" %}
{% load static %}

{% block title %} Servicese Detail Page {% endblock%}

{% block content %} 

    <!-- hero sectoin -->
    <section class="home" id="home">
        <div class="head_container">
        <div class="image">
            <img src="{% static 'images/black-bg.jpg' %}" style="height: 24vh; object-fit: cover;" class="slide">
        </div>
        </div>
    </section>
    <script>
        function img(anything) {
        document.querySelector('.slide').src = anything;
        }

        function change(change) {
        const line = document.querySelector('.image');
        line.style.background = change;
        }
    </script>
    <!-- End of hero sectoin -->

    <!-- menu -->
    <div class="container" >
        <!-- button bar -->
        <div class="container-manager">
            <div class="mange-btn">
                <div class="order-btn">
                    <a href="{% url 'service_app:menu' main_services.id %}" >Menu</a>
                </div>
                <div class="order-btn">
                    <a href="{% url 'service_app:order_request' main_services.id %}" >Order Request</a>
                </div>
                <div class="order-btn">
                    <a href="{% url 'service_app:active_order' main_services.id %}" >Active Order</a>
                </div>
            </div>
        </div> 
        <!-- End of button bar -->

        <!-- service title -->
        <div class="service-titel" style="margin-top: 100px;">
            <h1>{{main_services.name_service}}</h1>
            <p>{{main_services.description_service}}</p>
        </div>
    
        <!-- service menu -->
        <div class="menu-continer">
            {% for sub in sub_service %}
                <div class="service-menu">
                    <img src="{{sub.image.url}}" alt="">
                    <div class="menu-detile">
                        <h4>{{sub.name_service}}</h4>
                        <p>{{sub.catogory}}</p>
                    </div>
                    <div class="menu-price">
                        <p>price: {{sub.price}} $</p>
                    </div>
                </div>
            {% endfor%}

            <!-- button dev -->
            <div class="service-catogres">
                <div class="cat-ser">
                    <div class="order-btn">
                        <a href="{% url 'service_app:edit_items' main_services.id%}" >Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}