{% extends "main_app/index.html" %}
{% load static %}

{% block title %} Order Request Page {% endblock%}

{% block content %} 

    <!-- hero sectoin -->
    <section class="home" id="home">
        <div class="head_container">
        <div class="image">
            <img src="{% static 'images/black-bg.jpg' %}" style="height: 24vh; object-fit: cover;" class="slide">
        </div>
        </div>
    </section>
    <script>
        function img(anything) {
        document.querySelector('.slide').src = anything;
        }

        function change(change) {
        const line = document.querySelector('.image');
        line.style.background = change;
        }
    </script>
    <!-- End of hero sectoin -->

    <!-- order section -->
    <div class="container">
        <!-- manager bar -->
        <div class="container-manager">
            <div class="mange-btn top-anime">
                <!-- back to maneger page -->
            <div class="order-btn">
                <a href="{% url 'service_app:manager_services' %}" >Maneger page</a>
            </div>
                <div class="order-btn">
                    <a href="{% url 'service_app:menu' main_services.id %}" >Menu</a>
                </div>
                <div class="order-btn">
                    <a href="{% url 'service_app:order_request' main_services.id %}" >Order Request</a>
                </div>
                <div class="order-btn">
                    <a href="{% url 'service_app:active_order' main_services.id %}" >Active Order</a>
                </div>
            </div>
        </div> 

        <!-- order card -->
        <div class="card mb-3" style="margin-top: 30px;">
            <div class="menu-continer left-ainme">
                <p>َRoom number:</p>
                <p>Delving Time: 00:00</p>
                
                <!-- order content -->
                <div class="service-menu" style="margin-top: 25px;">
                    <img src="{% static 'images/restorant2.jpg' %}" alt="">
                    <div class="menu-detile">
                        <h4>Item name</h4>
                        <p>Quantity: 0000000000000</p>
                    </div>
                </div>
                <from method="post">
                    <p>َTotal price:</p>
                    <p class="total-price "  style="margin-top: 1px;">Total Price: <span id="total_price" >0</span> $</p>
                </from>


                <!-- butoon div-->
                <div class="service-catogres" style="margin-top: 25px;">
                    <div class="cat-ser bottom-anime">
                        <div class="order-btn">
                            <a href="#" >Refuse</a>
                        </div>
                        <div class="order-btn">
                            <a href="#" >Accept</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}