{% extends 'main_app/index.html' %}
{% load static %}

{% block title %} Services page {% endblock %}

{% block content %}
<!-- To add new service -->
<div class="d-flex justify-content-center mt-5 mb-5">
    <a href="{% url 'service_app:add_service' %}" class="btn btn-primary btn-lg px-4 me-md-2">Add Services</a>
    <a href="{% url 'employee_app:add_guest' %}" class="btn btn-primary btn-lg px-4 me-md-2">Add Guest</a>
</div>

<!-- Display the services -->
<div class="card" style="width: 18rem;">
    {% for service in services%}
    <img src="{{service.image.url}}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{service.name_service}}</h5>
        <p class="card-text">{{service.description_service}}</p>
        <a href="{% url 'service_app:menu' %}" class="btn btn-primary">Open</a>
        <a href="#" class="btn btn-primary">Delete</a>
    </div>
    {% endfor%}
</div>
    
{% endblock %}