{% extends 'main_app/index.html' %}
{% load static %}

{% block title %} Nazeel | Sign in  {% endblock %}

{% block content %}
  <!-- hero sectoin -->
  <section class="home" id="home">
    <div class="head_container">
    <div class="image">
        <img src="{% static 'images/sing_user2.jpg' %}" style="height: 50vh; object-fit: cover; filter: brightness(60%);" class="slide">
    </div>
    </div>
  </section>
  <script>
    function img(anything) {
    document.querySelector('.slide').src = anything;
    }

    function change(change) {
    const line = document.querySelector('.image');
    line.style.background = change;
    }
  </script>

  <!-- sign form -->
  <div class="container">
    <div class="sign-form">
      <form action="{% url 'guest_app:sign_in' %}" method="POST" class="bottom-anime" style="margin-top:80px;padding:10px;display:block; justify-content:center; gap: 6px;">
        {% csrf_token %}
        <h1 class="h3 mb-3 fw-normal left-ainme">Please sign in</h1>

        {% if messages %}
          <ul class="messages" style="color: red; margin-top: 10px;">
            {% for message in messages %}
              <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}

        <div style="margin-top:20px;width:250px;">
          <label for="floatingInput">Room Number</label>
          <input type="text" class="form-control" name="room_number" placeholder="your Room Number" required>
        </div>

        <div style="margin-top:20px;width:250px;">
          <label >Phone Number</label>
          <input type="text" name="phone_number" class="form-control" id="floatingPassword" placeholder="your Phone Number" required>
        </div>

        <!-- <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div> -->
        <div class="btn-form">
          <button type="submit" class="btn1">Sign in</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}