.aboutVideo{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    filter: brightness(60%);
}
@media(min-aspect-ratio: 16/9){
    .aboutVideo{
        width: 100%;
        height: auto;
    }
}
@media(max-aspect-ratio: 16/9){
    .aboutVideo{
        height: auto;
        width: 100%;
    }
}