{% extends "main_app/index.html" %}
{% load static %}

{% block title %}About Hotel{% endblock%}

{% block content %}
    <!-- background video -->
    <video autoplay muted loop class="aboutVideo">
        <source src="{% static 'video/about.mp4' %}" type="video/mp4">
    </video>

    <!-- content video -->
    <section class="home" id="home">
        <div class="head_container">
        <div class="box">
            <div class="text">
            <h1>About Us</h1>
            <p>
                Our Hotel offering a comfortable stay with 120 luxurious rooms & suites. Our rooms are exquisite in design and great in facilities.All rooms are equipped with luxury furniture, flat TV with satellite channels, convenient seating area, room service is available 24 hours a day for in-room dining.
            </p>
            <button><a href="{% url 'service_app:service' %}" style="color: #fff;">Explore Services</a></button>
            
            </div>
        </div>
        </div>
    </section>
    <script>
        function img(anything) {
        document.querySelector('.slide').src = anything;
        }

        function change(change) {
        const line = document.querySelector('.image');
        line.style.background = change;
        }
    </script>
{% endblock %}