{% extends "main_app/index.html" %}
{% load static %}

{% block title %} Nazeel | My orders {% endblock%}

{% block content %}

    <!-- hero sectoin -->
    <section class="home" id="home">
        <div class="head_container">
        <div class="image">
            <img src="{% static 'images/myOrder.png' %}" style="height: 50vh; object-fit: cover;" class="slide">
        </div>
        </div>
    </section>
    <script>
        function img(anything) {
        document.querySelector('.slide').src = anything;
        }

        function change(change) {
        const line = document.querySelector('.image');
        line.style.background = change;
        }
    </script>
    
    <!-- history details -->
    <section class="container">
        <div class="heading_top flex1 marg-t" style="margin-top: 400px;">
            <div class="heading top-anime">
            <h5>RAISING COMFORT TO THE HIGHEST LEVEL</h5>
            <h2>my orders</h2>
            </div>
        </div>
        <div class="history-detail bottom-anime">
            <table class="t-history">
                <!-- table titel -->
                <tr>
                    <th>Name service</th>
                    <th>Date order</th>
                    <th>Room Number</th>
                    <th>Order detail</th>
                    <th>Total amount</th>
                </tr>
                <!-- contant of table -->
                <tr>
                    <td>rerer</td>
                    <td>123513</td>
                    <td>2.54</td>
                    <td>asfwetjklanskfhio</td>
                    <td><p class="total-price" style="margin-top: 1px;">Total Price: <span id="total_price">0</span> $</p></td>
                </tr>
                <tr>
                    <td>rerer</td>
                    <td>123513</td>
                    <td>2.54</td>
                    <td>asfwetjklanskfhio</td>
                    <td>60</td>
                </tr>
                <!-- all total amout -->
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>total</td>
                    <td>60</td>
                </tr>
            </table>
        </div>
    </section>

    <!-- Add Review Section -->
    <section class="container sign-form" style="margin-top: 150px;">
        <form action="{% url 'main_app:add_review' %} " method="POST" class="" style="margin-top:5px;padding:10px;display:block; justify-content:center; gap: 6px;">
            {% csrf_token %}
            <h1 class="left-ainme">Rate Us</h1>
    
            

            <div class="bottom-anime">
            <div class="mb-3" style="margin-top: 25px;">
                <label for="exampleFormControlInput1" class="form-label">Your name matters</label>
                <input class="form-control" id="exampleFormControlInput1" placeholder="Type your name" name="name"></input>
            </div>

            <div style="display: flex; margin-top: 25px;">
                <div class="menu-price">
                            <label for="#">Rating</label>
                            <select name="rating" id="" class="form-select">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
    
                        <div class="menu-price">
                            <label for="#">Service</label>
                            <select name="" id="" class="form-select">
                                {% for service in main_services%}
                                <option value="{{service.id}}">{{service.name_service}}</option>
                               {% endfor %}
                            </select>
                        </div>
                    </div>

            <div class="mb-3" style="display: flex; flex-direction: column; margin-top: 25px;">
                <label for="exampleFormControlInput1" class="form-label">Your opinion matters</label>
                <textarea style="max-width: 450px; margin-top: 20px; resize: none;" class="form-control" id="exampleFormControlInput1" placeholder="Describe your experience" name="content"></textarea>
            </div>
    
            
            
    
                    <div class="btn-form">
                        <button type="submit" class="btn1">Add comment</button>
                      </div>
            </div>
    
        </form>
    </section>
{% endblock %}