{% extends "main_app/index.html" %}
{% load static %}

{% block title %} Nazeel | My orders {% endblock%}

{% block content %}

    <!-- hero sectoin -->
    <section class="home" id="home">
        <div class="head_container">
        <div class="image">
            <img src="{% static 'images/myOrder.png' %}" style="height: 50vh; object-fit: cover;" class="slide">
        </div>
        </div>
    </section>
    <script>
        function img(anything) {
        document.querySelector('.slide').src = anything;
        }

        function change(change) {
        const line = document.querySelector('.image');
        line.style.background = change;
        }
    </script>
    
    <!-- history details -->
    <section class="container">
        <div>
        </div>

        <div class="heading_top flex1 marg-t" style="margin-top: 400px;">
            <div class="heading top-anime">
            <h5>RAISING COMFORT TO THE HIGHEST LEVEL</h5>
            <h2>My Orders</h2>
            </div>
        </div>
        <div class="history-detail bottom-anime">
            <table class="t-history">
                <!-- table titel -->

                <tr>

                    <th>Name service </th>
                    <th>Room Number </th>
                    <th>Order quantity</th>
                    <th>Status</th>
                    <th>Order Time </th>
                    <th>Price for each </th>

                </tr>
                <!-- contant of table -->
                {% for order in user_requests %}
                    <tr>
                        <td>{{order.sub_service.name_service}}</td>
                        <td>{{order.room.room_number}}</td>
                        <td>{{order.quantity}}</td>
                        <td>{{order.is_delivered}}</td>
                        <td>{{order.date_time}}</td>
                        
                        
                        <td><p class="total-price" style="margin-top: 1px;"><span id="total_price">{{order.sub_service.price}}</span> $</p></td>
                    </tr>
                {% endfor %}

                <!-- all total amout -->
            </table>
        </div>
    </section>

    <!-- Add Review Section -->
    <section class="container sign-form" style="margin-top: 100px;">
        <form action="{% url 'main_app:add_review' %} " method="POST" class="" style="margin-top:5px;padding:10px;display:block; justify-content:center; gap: 6px;">
            {% csrf_token %}
            <h1 class="left-ainme">Rate Us</h1>
    
            <div style="display: flex; margin-top: 25px;">
            <div class="bottom-anime">
            <div class="mb-3" style="margin-top: 25px;">

                    <input type="hidden" class="form-label" id="name" value="{{ request.user.username }}" name="name">

            </div>
            
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label" style="display: flex; flex-direction: column; margin-top: 15px;">Feedback time! How was our service ?</label>
                <textarea style="max-width: 450px; margin-top: 20px; resize: none; border-radius: 10px;" cols="30" rows="10" class="form-control" id="exampleFormControlInput1" placeholder="Describe your experience" name="content" required></textarea>
            </div>

            <div style="display: flex; margin-top: 25px; justify-content: center;">
            <div class="menu-price">
                        <label for="#">Rating</label>
                        <select name="rating" id="rating" class="form-select" required>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>

                    <!--
                    <div class="menu-price">
                        <label for="#">Service</label>
                        <select name="" id="" class="form-select">
                            {% for order in user_requests%}
                                <option >{{order.sub_service.name_service}} </option>
                           {% endfor %}
                        </select>
                    </div>
                    </div>
                    -->
            
    
                    <div class="btn-form">
                        <button type="submit" class="btn1">Add comment</button>
                      </div>
                    </div>
            </div>
    
        </form>
    </section>
{% endblock %}