{% extends "main_app/index.html" %}
{% load static %}

{% block title %}History Page{% endblock%}

{% block content %}
    <!-- hero sectoin -->
    <section class="home" id="home">
        <div class="head_container">
        <div class="image">
            <img src="{% static 'images/restorant3.jpg' %}" style="height: 50vh; object-fit: cover;" class="slide">
        </div>
        </div>
    </section>
    <script>
        function img(anything) {
        document.querySelector('.slide').src = anything;
        }

        function change(change) {
        const line = document.querySelector('.image');
        line.style.background = change;
        }
    </script>
    
    <!-- history details -->
    <section class="container">
        <div class="heading_top flex1 marg-t" style="margin-top: 400px;">
            <div class="heading">
            <h5>RAISING COMFORT TO THE HIGHEST LEVEL</h5>
            <h2>my orders</h2>
            </div>
        </div>
        <div class="history-detail">
            <table class="t-history">
                <!-- table titel -->
                <tr>
                    <th>Name service</th>
                    <th>Date order</th>
                    <th>Room Number</th>
                    <th>Order detail</th>
                    <th>Total amount</th>
                </tr>
                <!-- contant of table -->
                <tr>
                    <td>rerer</td>
                    <td>123513</td>
                    <td>2.54</td>
                    <td>asfwetjklanskfhio</td>
                    <td>15</td>
                </tr>
                <tr>
                    <td>rerer</td>
                    <td>123513</td>
                    <td>2.54</td>
                    <td>asfwetjklanskfhio</td>
                    <td>60</td>
                </tr>
                <!-- all total amout -->
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>total</td>
                    <td>60</td>
                </tr>
            </table>
        </div>
    </section>
{% endblock %}