{% extends 'main_app/index.html' %}
{% load static %}

{% block title %} Nazeel | Home page {% endblock %}

{% block content %}
    <!-- hero sectoin -->
    <section class="home" id="home">
        <div class="head_container">
          <div class="box">
              <div class="text">
              <h1>Hotel Name</h1>
              <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
              </p>
              <button><a href="{% url 'main_app:about' %}" style="color: #fff;">MORE INFO</a></button>
              </div>
          </div>
          <div class="image">
              <img src="{% static 'images/hero4.jpg' %}" class="slide">
          </div>
        </div>
    </section>
    <script>
        function img(anything) {
        document.querySelector('.slide').src = anything;
        }

        function change(change) {
        const line = document.querySelector('.image');
        line.style.background = change;
        }
    </script>

    <!-- Services section -->
    <section class="room top" id="room">
        <div class="container">
          <div class="heading_top flex1">
            <div class="heading">
              <h5>RAISING COMFORT TO THE HIGHEST LEVEL</h5>
              <h2>Services</h2>
            </div>
            <div class="button">
              <button class="btn1"><a style="color: #fff;" href="{% url 'main_app:services' %}">VIEW ALL</a></button>
            </div>
          </div>
          <div class="content grid">
            <!-- service box -->
            <div class="box">
              <div class="img">
                  <img src="{% static 'images/bar.jpg' %}" alt="">
              </div>
              <div class="text text-row">
                  <div>
                      <h3>Superior Soble Rooms</h3>
                      <div style="display: flex;">
                        <span class="material-symbols-outlined">star</span>
                        <p>5.5</p>
                      </div>
                  </div>
                  <div class="order-btn">
                      <a href="{% url 'main_app:order' %}">Order</a>
                  </div>
              </div>
            </div>
            <!-- end box -->
          </div>
        </div>
    </section>

    <!-- facilities sections -->
    <!-- facilities one -->
    <section class="wrapper top">
        <div class="container">
          <div class="text">
            <h2>facilities name</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
    
            <div class="content">
              <div class="box flex">
                <i class="fas fa-swimming-pool"></i>
                <span>Swimming pool</span>
              </div>
              <div class="box flex">
                <i class="fas fa-dumbbell"></i>
                <span>Gym & yogo</span>
              </div>
              <div class="box flex">
                <i class="fas fa-spa"></i>
                <span>Spa & massage</span>
              </div>
              <div class="box flex">
                <i class="fas fa-ship"></i>
                <span>Boat Tours</span>
              </div>
              <div class="box flex">
                <i class="fas fa-swimmer"></i>
                <span>Surfing Lessons</span>
              </div>
              <div class="box flex">
                <i class="fas fa-microphone"></i>
                <span>Conference room</span>
              </div>
              <div class="box flex">
                <i class="fas fa-water"></i>
                <span>Diving & smorking</span>
              </div>
              <div class="box flex">
                <i class="fas fa-umbrella-beach"></i>
                <span>Private Beach</span>
              </div>
            </div>
          </div>
        </div>
    </section>

    <!-- facilities two -->
    <section class="wrapper-r top">
        <div class="container">
          <div class="text">
            <h2>facilities name</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
    
            <div class="content">
              <div class="box flex">
                <i class="fas fa-swimming-pool"></i>
                <span>Swimming pool</span>
              </div>
              <div class="box flex">
                <i class="fas fa-dumbbell"></i>
                <span>Gym & yogo</span>
              </div>
              <div class="box flex">
                <i class="fas fa-spa"></i>
                <span>Spa & massage</span>
              </div>
              <div class="box flex">
                <i class="fas fa-ship"></i>
                <span>Boat Tours</span>
              </div>
              <div class="box flex">
                <i class="fas fa-swimmer"></i>
                <span>Surfing Lessons</span>
              </div>
              <div class="box flex">
                <i class="fas fa-microphone"></i>
                <span>Conference room</span>
              </div>
              <div class="box flex">
                <i class="fas fa-water"></i>
                <span>Diving & smorking</span>
              </div>
              <div class="box flex">
                <i class="fas fa-umbrella-beach"></i>
                <span>Private Beach</span>
              </div>
            </div>
          </div>
        </div>
    </section>

    <!-- facilities three -->
    <section class="wrapper top">
        <div class="container">
          <div class="text">
            <h2>facilities name</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
    
            <div class="content">
              <div class="box flex">
                <i class="fas fa-swimming-pool"></i>
                <span>Swimming pool</span>
              </div>
              <div class="box flex">
                <i class="fas fa-dumbbell"></i>
                <span>Gym & yogo</span>
              </div>
              <div class="box flex">
                <i class="fas fa-spa"></i>
                <span>Spa & massage</span>
              </div>
              <div class="box flex">
                <i class="fas fa-ship"></i>
                <span>Boat Tours</span>
              </div>
              <div class="box flex">
                <i class="fas fa-swimmer"></i>
                <span>Surfing Lessons</span>
              </div>
              <div class="box flex">
                <i class="fas fa-microphone"></i>
                <span>Conference room</span>
              </div>
              <div class="box flex">
                <i class="fas fa-water"></i>
                <span>Diving & smorking</span>
              </div>
              <div class="box flex">
                <i class="fas fa-umbrella-beach"></i>
                <span>Private Beach</span>
              </div>
            </div>
          </div>
        </div>
    </section>
{% endblock %}