<html lang="en">
  <head>
      <!-- meta tags -->
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="'Nazeel' is an innovative website aimed at simplifying and enhancing the hotel stay experience for guests. The engagement with the guest begins the moment a ...">
      <meta name="keywords" content="The Future Seed, Nazeel, Hotel, service, فندق, نزيل, بذرة المستقبل, خدمات">
      <meta name="author" content="The Future Seed">
      
      {% load static %}
      <link rel="icon" type="images/x-icon" href="{% static 'images/logo_w.png' %}">

      <title>{% block title %} {% endblock %}</title>

      <!-- style link -->
      <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css" integrity="sha512-UTNP5BXLIptsaj5WdKFrkFov94lDx+eBvbKyoe1YAfjeRPC+gT5kyZ10kOHCfNZqEui1sxmqvodNUx3KbuYI/A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
      
      <!-- CSS sheet -->
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <link rel="stylesheet" href="{% static 'css/style_history.css' %}">
      <link rel="stylesheet" href="{% static 'css/style_about.css' %}">
      <link rel="stylesheet" href="{% static 'css/style_order.css' %}">
      <link rel="stylesheet" href="{% static 'css/employee.css' %}">
      <link rel="stylesheet" href="{% static 'css/reviews.css' %}">
      <link rel="stylesheet" href="{% static 'css/style_manager.css' %}">
      <link rel="stylesheet" href="{% static 'css/maps.css' %}">
      <link rel="stylesheet" href="{% static 'css/chatbot.css' %}">

      <!-- style section -->
      {% block style %} {% endblock %}

      <!-- style screipt section -->
      <script src="https://kit.fontawesome.com/a4151258a8.js" crossorigin="anonymous"></script>
  </head>
  <body style="background-color: #f8f2e8;">
      <!-- hedar section -->
      <header class="header" id="navigation-menu">
        <div class="container">
          <nav>
            {% block logo %}
              <a href="{% url 'main_app:home' %}" class="logo"> <img src="{% static 'images/logo_w.png' %}" alt=""> </a>
            {% endblock %}
    
            <!-- navbar -->
            <ul class="nav-menu">
              <li> <a href="{% url 'main_app:home' %}" class="nav-link">Home</a> </li>
              <li> <a href="{% url 'service_app:service' %}" class="nav-link">Services</a> </li>
              <li> <a href="{% url 'service_app:manager_services' %}" class="nav-link">Manger</a> </li>
              <li> <a href="{% url 'main_app:history' %}" class="nav-link">My oreder</a> </li>
              <li> <a href="{% url 'main_app:about' %}" class="nav-link">About</a> </li>
              <li> <a href="{% url 'main_app:maps' %}" class="nav-link">Map</a> </li>
            </ul>
            <!-- navbar mobile -->
            <div class="hambuger">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>
            </div>
          </nav>
        </div>
      </header>
      <script>
        const hambuger = document.querySelector('.hambuger');
        const navMenu = document.querySelector('.nav-menu');
    
        hambuger.addEventListener("click", mobileMenu);
    
        function mobileMenu() {
          hambuger.classList.toggle("active");
          navMenu.classList.toggle("active");
        }
    
        const navLink = document.querySelectorAll('.nav-link');
        navLink.forEach((n) => n.addEventListener("click", closeMenu));
    
        function closeMenu() {
          hambuger.classList.remove("active");
          navMenu.classList.remove("active");
        }
      </script>

      <!-- content section -->
      {% block content %} {% endblock %}

      <!-- chatbot -->
      <div class="">
        <div class="chatbox">
          <!-- chatbot content -->
          <div class="chatbox__support">
            <div class="chatbox__header">
              <div class="chatbox__image--header">
                <img src="{% static 'images/chatbot-icon.jpg' %}" style="max-width: 100px; border-radius: 50%;" alt="image">
              </div>
              <div class="chatbox__content--header">
                <h4 class="chatbox__heading--header">Chat support</h4>
                <p class="chatbox__description--header">Hi. My name is Nazeel. How can I help you?</p>
              </div>
            </div>
            <div class="chatbox__messages">
              <div></div>
            </div>
            <div class="chatbox__footer">
              <input type="text" placeholder="Write a message...">
              <button class="chatbox__send--footer send__button">Send</button>
            </div>
          </div>
          <!-- chatbot icon (button) -->
          <div class="chatbox__button">
            <button><img src="{% static 'images/chatbox-icon.svg' %}" /></button>
          </div>
        </div>
      </div>
      
      <!-- footer section -->
      <footer>
        <div class="container top-fot grid footing">
          <div class="box">
            <img src="{% static 'images/logo_b.png' %}" width="100px" height="120px" alt="">
            <p> 
              The site design for the final project of Tuwaiq Camp was done by 
              <a href="https://bio.site/the_future_seed" target="_blank" style="color: #555;">The Future Seed (TFS) team.</a>
            </p>
          </div>
    
          <!-- footer links -->
          <div class="box">
            <h3>Links</h3>
            <ul>
              <a href="{% url 'main_app:home' %}"  style="color: #000;"><li>Home</li></a>
              <a href="{% url 'service_app:service' %}"  style="color: #000;"><li>Services</li></a>
              <a href="{% url 'main_app:history' %}"  style="color: #000;"><li>My order</li></a>
              <a href="{% url 'main_app:about' %}"  style="color: #000;"><li>About</li></a>
              <a href="{% url 'main_app:maps' %}"  style="color: #000;"><li>Map</li></a>
            </ul>
            
          </div>

          <!-- social media links -->
          <div class="box">
            <h3>social media</h3>
            <ul>
              <a href="" style="color: black;"><li><i class="fa-brands fa-snapchat fa-xl"></i>  Snapchat</li></a>
              <a href="" style="color: black;"><li><i class="fa-brands fa-instagram fa-xl"></i>  instagram</li></a>
              <a href="" style="color: black;"><li><i class="fa-brands fa-twitter fa-xl"></i>  twitter</li></a>
            </ul>
          </div>
        </div>
      </footer>

      <!-- script section -->
      {% block script %} {% endblock %}
      <!-- script chatbot stayle -->
      <script src="{% static 'js/chatbot.js' %}"></script>
  </body>
</html>