{% extends "main_app/index.html" %}
{% load static %}

{% block title %} Hotel maps {% endblock%}

{% block style %}
    <style>
        header ul li a{
        color: #000;
        }
    </style>
{% endblock %}

{% block logo %}
    <a href="{% url 'main_app:home' %}" class="logo"> <img src="{% static 'images/logo_b.png' %}" alt=""> </a>
{% endblock %}

{% block content %}
    <!-- map content -->
    <div class="container">
        <div class="heading_top flex1 marg-t">
            <div class="heading">
            <h5>RAISING COMFORT TO THE HIGHEST LEVEL</h5>
            <h2>maps</h2>
            </div>
        </div>
        <div class="map-content">
            <div class="w">
                <!-- images map -->
                <div class="ts" id="t1">
                    <input type="radio" id="c1" name="ts" checked="checked"/>
                    <label class="t" for="c1"><img src="{% static 'images/map.png' %}"/></label>
                    <input type="radio" id="c2" name="ts"/>
                    <label class="t" for="c2"><img src="{% static 'images/map.png' %}"/></label>
                    <input type="radio" id="c3" name="ts"/>
                    <label class="t" for="c3"><img src="{% static 'images/map.png' %}"/></label>
                    <input type="radio" id="c4" name="ts"/>
                    <label class="t" for="c4"><img src="{% static 'images/map.png' %}"/></label>
                    <input type="radio" id="c5" name="ts"/>
                    <label class="t" for="c5"><img src="{% static 'images/map.png' %}"/></label>
                </div>
            </div>

            <!-- map decsription -->
            <div style="margin-left: 80px; margin-top: 75px;">
                <h1>floor 1</h1>
                <p> discripton </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/maps.js' %}"></script>
{% endblock %}