{% extends 'main_app/index.html' %}
{% load static %}

{% block title %} Services page {% endblock %}

{% block content %}

    <!-- hero sectoin -->
    <section class="home" id="home">
        <div class="head_container">
        <div class="box">
            <div class="text">
            <h1>Our Services</h1>
            <p>Explore all our services and order for whatever you want, And we will make sure that we deliver as soon as possible, with the best quality and the most complete service, and that your experience is exceptional and unforgettable.</p>
            <button><a href="#services" style="color: #fff;">Explore Service</a></button>
            </div>
        </div>
        <div class="image">
            <img src="{% static 'images/service_hero.jpg' %}" class="slide">
        </div>
        </div>
    </section>
    <script>
        function img(anything) {
        document.querySelector('.slide').src = anything;
        }

        function change(change) {
        const line = document.querySelector('.image');
        line.style.background = change;
        }
    </script>

    <!-- Services section -->
    <section class="room top" id="services">
        <div class="container">
        <div class="heading_top flex1">
            <div class="heading">
            <h5>RAISING COMFORT TO THE HIGHEST LEVEL</h5>
            <h2>Services</h2>
            </div>
        </div>
            <div class="content grid">
                <!-- service box -->
                <!-- service box -->
                {% for service in services %}
                <div class="box">
                    <div class="img">
                        <img src="{{ service.image.url }}" alt="{{ service.name_service }}">
                    </div>
                    <div class="text text-row">
                        <div>
                            <h3>{{ service.name_service }}</h3>
                            <p>{{ service.description_service }}</p>
                            <p>Time: {{ service.time_on }} - {{ service.time_off }}</p>
                        </div>
                        <div class="order-btn">
                            <a href="{% url 'main_app:order' %}">Order</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- end box -->
            </div>
        </div>
    </section>

{% endblock %}